version: 2
updates:
  - package-ecosystem: "pip"
    {%- if cookiecutter.__build_system != "setuptools" %}
    directory: "/"
    {%- else -%}
    directory: "/requirements"
    {%- endif %}
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
      - "dependencies"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
