[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "ansys-templates"
version = "0.1.0"
description = "Creates Python projects according to PyAnsys guidelines"
readme = "README.rst"
requires-python = ">=3.7"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "importlib-metadata >=4.0",
    "click>=7.0,<8.0.0",
    "ansys-cookiecutter",
    "isort>=5.10.1",
]

[tool.flit.module]
name = "ansys.templates"

[tool.flit.sdist]
include = ["src/ansys/templates/pypkg/"]

[project.scripts]
ansys-templates = "ansys.templates.cli:main"

[project.urls]
Source = "https://github.com/pyansys/pyansys-template"
