[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "ansys-templates"
version = "0.3.1"
description = "Creates Python projects according to PyAnsys guidelines"
readme = "README.rst"
requires-python = ">=3.7"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "importlib-metadata >=4.0",
    "click>=7.0,<8.0.0",
    "cookiecutter>=2.1.0",
    "isort>=5.10.1",
]

[tool.flit.module]
name = "ansys.templates"

[project.scripts]
ansys-templates = "ansys.templates.cli:main"

[project.urls]
Source = "https://github.com/pyansys/pyansys-template"

[tool.black]
force-exclude = ["src/ansys/templates/python"]
line-length = "100"

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = "100"
default_section = "THIRDPARTY"
skip_glob = ["src/ansys/templates/python/*"] 
filter_files = "true"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys/templates"]
omit = ["ansys/templates/python/*"]

[tool.coverage.report]
show_missing = true
