name: GitHub CI
on:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main

env:
  MAIN_PYTHON_VERSION: '{{ cookiecutter.__requires_python }}'
  DOCUMENTATION_CNAME: '{{ cookiecutter.__product_name_slug }}.docs.pyansys.com'
  LIBRARY_NAME: '{{ cookiecutter.__pkg_namespace | replace(".", "-") }}'
  LIBRARY_NAMESPACE: '{{ cookiecutter.__pkg_namespace }}'

concurrency:
  group: {{ '${{ github.workflow }}-${{ github.ref }}' }}
  cancel-in-progress: true

jobs:

  code-style:
    name: "Code style"
    runs-on: ubuntu-latest
    steps:
      - uses: pyansys/actions/code-style@v2
        with:
          python-version: {{ '${{ env.MAIN_PYTHON_VERSION }}' }}

  doc-style:
    name: "Documentation style"
    runs-on: ubuntu-latest
    steps:
      - uses: pyansys/actions/doc-style@v2
        with:
          token: {{ '${{ secrets.GITHUB_TOKEN }}' }}

  smoke-tests:
    name: "Build and Smoke tests"
    runs-on: {{ '${{ matrix.os }}' }}
    needs: [code-style]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        {% set required_minor = cookiecutter.__requires_python[2:] | int %}
        {%- set python_versions = [ ] -%}
        {%- for minor in range(7, 11) -%}
        {%- if minor >= required_minor -%}
        {{ python_versions.append("3." + minor | string ) or ''}}
        {%- endif -%}
        {%- endfor -%}
        python-version: {{ python_versions }}
    steps:
      - uses: pyansys/actions/build-wheelhouse@v2
        with:
          library-name: {{ '${{ env.LIBRARY_NAME }}' }}
          library-namespace: {{ '${{ env.LIBRARY_NAMESPACE }}' }}
          operating-system: {{ '${{ matrix.os }}' }}
          python-version: {{ '${{ matrix.python-version }}' }}

  tests:
    name: "Tests"
    runs-on: {{ '${{ matrix.os }}' }}
    needs: [smoke-tests]
    strategy:
      matrix:
       os: [ubuntu-latest, windows-latest]
       {% set required_minor = cookiecutter.__requires_python[2:] | int %}
       {%- set python_versions = [ ] -%}
       {%- for minor in range(7, 11) -%}
       {%- if minor >= required_minor -%}
       {{ python_versions.append("3." + minor | string ) or ''}}
       {%- endif -%}
       {%- endfor -%}
       python-version: {{ python_versions }}
      fail-fast: false
    steps:
      - uses: pyansys/actions/tests-pytest@v2
        with:
          pytest-extra-args: "--cov=ansys --cov-report=term --cov-report=html:.cov/html"

  doc-build:
    name: "Build documentation"
    runs-on: ubuntu-latest
    needs: [doc-style]
    steps:
      - uses: pyansys/actions/doc-build@v2
        with:
          python-version: {{ '${{ env.MAIN_PYTHON_VERSION }}' }}

  doc-deploy-dev:
    name: "Deploy development documentation"
    runs-on: ubuntu-latest
    needs: [doc-build]
    if: github.event_name == 'push'
    steps:
      - uses: pyansys/actions/doc-deploy-dev@v2
        with:
          cname: {{ '${{ env.DOCUMENTATION_CNAME }}' }}
          token: {{ '${{ secrets.GITHUB_TOKEN }}' }}

  doc-deploy-stable:
    name: "Deploy stable documentation"
    runs-on: ubuntu-latest
    needs: [doc-deploy-dev]
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    steps:
      - uses: pyansys/actions/doc-deploy-stable@v2
        with:
          cname: {{ '${{ env.DOCUMENTATION_CNAME }}' }}
          token: {{ '${{ secrets.GITHUB_TOKEN }}' }}

  build-library:
    name: "Build library basic example"
    runs-on: ubuntu-latest
    needs: [tests, doc-deploy-stable]
    steps:
      - uses: pyansys/actions/build-library@v2
        with:
          library-name: {{ '${{ env.LIBRARY_NAME }}' }}
          python-version: {{ '${{ env.MAIN_PYTHON_VERSION }}' }}
